/* CSS FOR THE CALENDAR, SPECIFICALLY */


/* CSS FOR THE CALENDAR */
.fatsecret_calendar
{
	font-size: 125%;
	border-collapse: collapse;
	width: 600px;
	float:left;
	margin: 20px 0px 20px 15px;	
	border: 2px solid #AABCFE;
}
.fatsecret_day_number{
	font-size:9pt;
	color: #669;
}

.fatsecret_calendar tr td
{
	padding: 2px;
	border: 1px solid #AABCFE;
	float:left;
}

/* days row (Sun, Mon, Tues, etc) */
.fatsecret_days_row td
{
	width: 14%;
	font-weight: 700;
	text-align: center;
	background-color: #B9C9FE;

}

/* all rows that are not the days row */
.fatsecret_other_row
{
	height: 80px;
	vertical-align: top;
}

/* blank day cell */
.fatsecret_day_blank
{
	background-color: #F2F2F2;
}

/* today's cell */
.fatsecret_day_today
{
	background-color: #DDD;
}

/* all cells that are not blank or today */
.fatsecret_day_other
{
	background-color: #FFF;
}

/* the day of the month (1-31) */
.fatsecret_day_number
{
	font-weight: 700;
}

/* all text in a cell that is not the day */
.fatsecret_day_content
{
	font-size: 75%;
	padding: 0 4px 0 4px;
	text-align: right;
}

/* exercise link (if there is an entry) */
.fatsecret_day_exercise
{
	color: #C05F5F;
	font-weight: 700;
}

/* food link (if there is an entry) */
.fatsecret_day_food
{
	color: #399941;
	font-weight:700;
}


/* the net gain/loss if there is an entry for both exercise and food */
.fatsecret_day_summary
{
	margin-top: 2px;
	cursor: default;
}

/* net gain/loss text */
.fatsecret_day_net
{
	float: right;
	padding: 1px 0 0 4px;
}


.date{
	width: 200px;
	margin:0 0 0 100px !important;
}


