/* calendar */
.fatsecret_calendar
{
	font-size: 125%;
	border-collapse: collapse;
	width: 600px;
	float:left;
	margin: 20px 0px 20px 15px;	
	border: 2px solid #AABCFE;

}


#fatsecret_output_3{
	float:left;
	margin:0;

}

.fatsecret_day_number{
	font-size:9pt;
	color: #669;
}

.fatsecret_calendar tr td
{
	padding: 2px;
	border: 1px solid #AABCFE;
}

/* days row (Sun, Mon, Tues, etc) */
.fatsecret_days_row td
{
	width: 14%;
	font-weight: 700;
	text-align: center;
	background-color: #B9C9FE;

}

/* all rows that are not the days row */
.fatsecret_other_row
{
	height: 80px;
	vertical-align: top;
}

/* blank day cell */
.fatsecret_day_blank
{
	background-color: #F2F2F2;
}

/* today's cell */
.fatsecret_day_today
{
	background-color: #DDD;
}

/* all cells that are not blank or today */
.fatsecret_day_other
{
	background-color: #FFF;
}

/* the day of the month (1-31) */
.fatsecret_day_number
{
	font-weight: 700;
}

/* all text in a cell that is not the day */
.fatsecret_day_content
{
	font-size: 75%;
	padding: 0 4px 0 4px;
	text-align: right;
}

/* exercise link (if there is an entry) */
.fatsecret_day_exercise
{
	color: #C05F5F;
	font-weight: 700;
}

/* food link (if there is an entry) */
.fatsecret_day_food
{
	color: #399941;
	font-weight:700;
}

/* link of there isnt an entry */
/*
.fatsecret_day_link
{
}
*/

/* the net gain/loss if there is an entry for both exercise and food */
.fatsecret_day_summary
{
	margin-top: 2px;
	cursor: default;
}

/* net gain/loss text */
.fatsecret_day_net
{
	float: right;
	padding: 1px 0 0 4px;
}

/* net gain/loss image (up or down arrow) */
/*
.fatsecret_day_net_image
{
}
*/

.date{
	width: 200px;
	margin:0 0 0 100px !important;
}



/* CSS FOR DAILY DATA */
#dayData{
	display:block;
	background:white;
	width:320px;
	height:300px;
	border:#ccc 1px solid;
	margin: auto;
	margin-top:60px;
	margin-left:30px;
	margin-bottom:30px;
	padding:20px;
	padding-left:0px;
	float:left;
}


#dayDataHeader{
	float left;
	display:inline-block;
	padding-left:20px;
}

#box-table-a {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	width: 300px;
	text-align: left;
	border-collapse: collapse;
	display:block;
	float:right;
	position:relative;
	margin: 30px 0px 0px auto;
}

#box-table-a th {
	font-size: 13px;
	font-weight: normal;
	background: #B9C9FE;
	border-top: 4px solid #AABCFE;
	border-bottom: 1px solid white;
	color: #039;
	padding: 8px;
}

#box-table-a td {
	background: #E8EDFF;
	border-bottom: 1px solid white;
	color: #669;
	border-top: 1px solid transparent;
	padding: 14px 4px 14px 4px;
}

#box-table-a td:last-child {
	text-align:center;
}















