h5{
	font-size:15pt;
	margin: 10px 19px;
	font-weight:normal;
}


/* CSS for meal choice screen */
.rad {
	font-size:10pt;
	padding-left:10px;
	margin-top:13px;
	float:left;
	clear:both;
}

.m {
	margin-left:5px;
}


#optionSelect{
	display:block;
}

#chooseMeal{
	display:none;
	overflow:auto;
}

#mealandbutton{
	border: 1px #ccc solid;	
	overflow:auto;
	padding:20px 15px 40px 20px;
	margin:42px 20px;
}

#choosemealtoenter{
	margin-bottom:10px;
}

.next{
	color:#eee;
	background:#5983FF;
	width:80px;
	height:30px;
	text-align:center;
	padding-top:10px;
	margin-top:10px;
	float:right;
	clear:both;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	position:absolute;
	bottom:30px;
	right:30px;
}



#detailedForm{
	display:none;
	overflow:auto;
	height:100%;
}

#weightInput{
	display:none;
	overflow:auto;
}

#autogenDialog{
	display:none;
	overflow:auto;
}
/* CSS FOR DETAILED MEAL ENTRY FORM */
#results {
	width:655px;
	height:100px;
	position:relative;
	margin:10px auto;
	margin-left:25px;
	border:solid #cccccc 1px;
	overflow: scroll;
	background:white;
	font-size:10pt;
	color:black;
}

#results_wrapper{
	padding-left:0px;
	width:600px;
}


.box-table-b{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	width: 500px;
	text-align: center;
	border-collapse: collapse;
	display:block;
	position:relative;
	margin: 30px auto 0px auto;
	overflow:scroll;
	float:left;
}





.box-table-b th {
	font-size: 13px;
	font-weight: normal;
	background: #B9C9FE;
	border-top: 4px solid #AABCFE;
	border-bottom: 1px solid white;
	color: #039;
	padding: 8px;
}

.box-table-b td {
	background: #E8EDFF;
	border-bottom: 1px solid white;
	color: #669;
	border-top: 1px solid transparent;
	padding: 10px 4px 10px 4px;
}

.box-table-b td:last-child {
	text-align:center;
}


#btn_additem{
	float:right;

	position:relative;
	left:80px;
	height:25px;
	width:80px;
	margin:0px 0px 0px 0px;
}

.delete_btn{
	color:white;
	background:#ff6d6d;
	border:1px solid #cc3e3e;
	-webkit-border-radius:3px;
	-moz-border-radius: 3px;
	border-radius:3px;
	width:20px;
	height:20px;
	text-align:center;
	padding-right:1px;
	padding-bottom:1px;
}

.delete_btn:hover {
	background:#ff8d8d;
}

#results div {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor:default;
	margin-left:10px;
}

#results div:hover {
	color:#bbb;
}

#btn_addmeal, #btn_addweight, .next, #next_choosemeal,#next_autogenDialog
{
	height: 40px;
	width:90px;
	color:#eee;
	background:#5983FF;
	text-align:center;
	padding-top:1px;
	margin-right:20px;
	margin-top:10px;
	float:right;
	clear:both;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border:0px solid white;
}

#btn_addmeal:hover, #btn_addweight:hover, #next_choosemeal:hover, #next_autogenDialog:hover, .next:hover {
	background:#6b95ff;
}

/***************************
 * Scroll Bar CSS          *
 ***************************/

::-webkit-scrollbar {
    width: 8px;
	height:8px;
	padding-right:3px;
}
 
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background:#ccc; 
}



/* CSS FOR LIGHTBOX */
.black_overlay{
	display:none;
	position:absolute;
	top:0%;
	left:0%;
	width:100%;
	height:100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}

.white_content{
	display:none;
	position:absolute;
	top:20%;
	left:25%;
	width:50%;
	height:50%;
	min-width:500px;
	min-height:400px;
	padding:16px;
	background-color:#ffffff;
	z-index:1002;
	overflow: auto;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}


#searchpref{
	display:block;
	margin 0px auto;
	font-size:10pt;
	/*position:absolute;*/
	left:-40;
	width:100%;
}

#search_query{
	width:200px;
}

#bar{
 float:left;
 overflow:auto;
 margin-left:7px;
}

#fd{
	background:#B9C9FE;
	overflow:auto;
	padding:10px 10px 10px 0px;
	color:#fff;
	font-weight:bold;
}

#selector{
	float:right;
	margin-top:0;
	margin-left:20px;
	position:relative;
	left:40px;
}

#searcherbar{
	width:670px;
	height:40px;
	margin:0px;
	margin-left:20px;
	display:inline;
	float:left;
}

#FoodSearch{
 	width:500px;
}


#prev_autogenDialog, #prev_optionselect, #prev_choosemeal, #back_btn_addweight{
	position:absolute;
	left:30px;
	bottom:30px;
	background:#ddd;
	color:#333;
}

#back_button_addmeal{
	float:right;
	background:#ddd;
	color:#333;
	position:absolute;
	top:0px;
	right:30px;
	margin:0;
	top:20px;
}

#prev_autogenDialog:hover, #back_button_addmeal:hover, #prev_optionselect:hover, #prev_choosemeal:hover, #back_btn_addweight:hover {
	background:#d5d5d5;
}




#btn_addmeal{
	margin-right:0px;
	position:absolute;
	top:70px;
	right:30px;
}

#btn_delete_meal{
	margin:0;
	position:absolute;
	top:140px;
	right:30px;
}

#data_container{
	position:relative;
}


.exit{
	position:absolute;
	top:10px;
	right:10px;
}


.otherselect{
	background:#8da9ff;
	height:25px;
	padding:3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size:10pt;
	float:left;
	margin-left:20px;
	border:1px #999 solid;
	border:none;
	color:#eee;

}

.otherselect:hover {
	background:#7d99ef;
}
