/* General CSS for ShapeUp Webapp */

*{
	margin:0;
	padding:0;
	font-family: Arial, Helvetica, monotype;
	/*border: red 1px dotted;*/
}

body{
	min-width:800px;
	overflow:auto;
	background-image:url('../images/sky.JPG');
	background-size:100%;
	background-repeat:no-repeat;
}



a{
	text-decoration:none;
	color:black;
}

a:visited {
 	color:black;
}

#calendar{
	width: 650px;
}

#calendar a:hover {
	color:#999;
}


h2{
	font-size: 20px;
	margin-top:0px;
	margin-bottom:20px;
	margin-left:75px;
	color:white;
}


#fatsecret_output_0, #fatsecret_output_2 {
	color:#EEE;
	position:float;
	float:left;
	margin:5px 0px 0px 29px; 
	display:block;
}


#fatsecret_output_0{
	margin-left:21px;
	color:black;
}


.date{
	display:inline-block;	
	font-size:20pt;
	margin-left:300px;
	margin-right:270px;
	margin-bottom:10px;
	position:absolute;
	top:45px;
	left:175px;
}


.monthbutton{
	height: 25px;
	width: 125px;
	border:1px #aaa solid;
	display:inline-block;
	background:#ddd;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	margin-top:25px;
	margin-left:25px;
}

#prevMonth{
	margin-bottom:10px;
	position:absolute;
	left:0px;
	top:40px;
}

#nextMonth{
	position:absolute;
	left:474px;
	top:40px;
}

.monthbutton:hover {
	background:#ccc;
}


a.monthbutton{
	color:#EEE;
}


#graph{
	margin:40px auto;
	width:400px;

}

#placeholder{
	width: 500px;
	height:300px;
}

#plus_button{
	background-image:url('../public/images/add.png');
	font-size:12pt;
}



#tabandday_cont{
	overflow:auto;
	margin:auto;
	display:block;
	position:absolute;
	top:160px;
	left:10%;
	width:1050px;
}

#dayDataholder{
	height:580px;
	float:right;
	margin-top:0px;
	width:360px;
	background-image:url('../public/images/navy_blue.png');
	overflow:auto;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}


#headerHolder{
	display:block;
	margin-left:50px;
	margin-top:30px;
}


/* CSS FOR DAILY DATA */
#dayData{
	display:block;
	background:white;
	width:300px;
	height:300px;
	border:#ccc 1px solid;
	margin: auto;
	margin-top:120px;
	margin-left:20px;
	margin-bottom:30px;
	padding:20px;
	padding-left:0px;
	float:left;
}


#dayDataHeader{
	float left;
	display:inline-block;
	padding-left:20px;
}

#box-table-a {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	width: 280px;
	text-align: left;
	border-collapse: collapse;
	display:block;
	float:right;
	position:relative;
	margin: 30px 0px 0px auto;
}

#box-table-a th {
	font-size: 13px;
	font-weight: normal;
	background: #B9C9FE;
	border-top: 4px solid #AABCFE;
	border-bottom: 1px solid white;
	color: #039;
	padding: 8px;
}

#box-table-a td {
	background: #E8EDFF;
	border-bottom: 1px solid white;
	color: #669;
	border-top: 1px solid transparent;
	padding: 14px 4px 14px 4px;
}

#box-table-a td:last-child {
	text-align:center;
}


#holder{
	width:615px;
	margin:0;
	overflow:auto;
}

/* this is the actual calendar */
#fatsecret_output_3 
{	float:left;
	margin:0;
}
