<html>
	<head>
		<title>Calorie Tracker</title>
		<!-- JQUERY LIBRARY--> 
		<script type="text/javascript" src="/public/scripts/jquery-1.2.6.min.js"></script> 
		<!-- JAVASCRIPT API source -->
		<script src="http://platform.fatsecret.com/js?key=1d1e36bf07f84761b76cd39e0ad1c1dd&auto_template=false"></script>

		<!-- TABBING JS -->
		<script type="text/javascript" src="/public/scripts/tab.js"</script>
		<script src="/public/scripts/Calendar.js"></script>
		<script src="/public/jquery.js"></script>


		<!-- We can customize our calendar through the calendar.css -->
		<!-- this css file comes from http://platform.fatsecret.com/api/Default.aspx?screen=jsapicssr -->
		<link rel="stylesheet" href="css/calendar.css" type="text/css" />	
		<link rel="stylesheet" href="css/style.css" type="text/css" />
		<link rel="stylesheet" href="css/tab.css" type="text/css" />

		<script src="/public/graph.js"></script>
		<script src="/public/jquery.js"></script>
		<script src="/public/jquery.flot.js"></script>
		<link rel="stylesheet" href="css/style.css" type="text/css" />
	</head>

	<body>
		<h2>Calorie Tracker Beta</h2>
		<div id="tabs_container">
			<ul class="tabs">
				<li class="active">
				<a href="#" rel="#calendar_tab" class="tab">Calendar View</a>
				</li>
				<li><a href="#" rel="#graph_tab" class="tab">Analysis View</a></li>
			</ul>	


			<div class="clear"></div> <!-- Used so the contents don't appear to right of tabs -->

			<!-- Contents of each tab -->
			<div class="tab_contents_container">

				<!-- Calendar Tab contents -->
				<div id="calendar_tab" class="tab_contents tab_contents_active">

					<!-- FatSecret API Embeds -->
					<div style="width:1000px; margin:0 auto;" id="holder">
						<script> fatsecret.setCanvas("calendar.get_month"); </script> 
						<div class="monthbutton">
							<script>fatsecret.writeHolder("previousmonth");</script> 
						</div>
						<div class="date">
							<script>fatsecret.writeHolder("date");</script>
						</div>
						<div class="monthbutton">
							<script>fatsecret.writeHolder("nextmonth");</script> 	
						</div>
						<script>fatsecret.writeHolder("calendar");</script> 
					</div>
				</div>

				<!-- Analysis Tab contents -->
				<div id="graph_tab" class="tab_contents">

					<!-- Graph -->
					<table id="graph" style="text-align:center">
						<tr>
							<td></td>
							<td>Calories and Weight for Month</td>
							<td> </td>
						</tr>
						<tr>
							<td></td>
							<td>
								<div id="placeholder" style="width:600px;height:300px"></div>
							</td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</table>

				</div>
			</div> <!-- end tabs_container -->

		</div>
	</body>
</html>
