<html>		
<head>
<script src="../public/scripts/jquery.js"></script>
<script src="form.js"></script>
</head>

<select id="meal_type" name="meal_type" form="foodtracker">
	<option value="Breakfast">Breakfast</option>
	<option value="Lunch">Lunch</option>
	<option value="Dinner">Dinner</option>
	<option value="Snack">Snack</option>
	<option value="Beverage">Beverage</option>
</select>


<form name="input" action="html_form_action.asp" method="post" id="foodtracker">

Username: <input type="text" name="user" id="username"><br>
Food:<input type="text" name="food" id="foodentry"><br>

<input type="button" value="Show" id="saveInJavaScript">


</form>

<div id="data_container">
<table border="3" id="table_container">
<tr>
<th>Type</th>
<th>Food Content</th>
</tr>

</table>

</div>

</html>

<!-- <input type="submit" value="Submit" form="foodtracker"> -->
