<html>
	<head>
		<tilte>Graph</tilte>

		
		<script src="/public/graph.js"></script>
		<script src="/public/jquery.js"></script>
		<script src="/public/jquery.flot.js"></script>
		<link rel="stylesheet" href="css/style.css" type="text/css" />
		
	</head>
	
	<body>
	
	<table style="text-align:center">
	  <tr>
	    <td></td>

	    <td>Calories and Weight for Month</td>

	    <td> </td>
	  </tr>

	  <tr>
	    <td></td>

	    <td>
	      <div id="placeholder" style="width:600px;height:300px"></div>
	      <p id="choices" style="float:right; width:135px;"></p>
	    </td>

	    <td></td>
	  </tr>

	  <tr>
	    <td></td>

	    <td></td>

	    <td></td>
	  </tr>

	</table>

	
</html>