<!DOCTYPE html>
<html style="height: 100%;">
<head style="height: 100%;">
<title>Login Error</title>
<link rel="stylesheet" href="../css/login.css" type="text/css"/>
</head>
<body background="../images/sky.JPG">
<img src="../images/logo.png">


<div style="background-color: blue; border-radius: 25px; margin-left: 20%; margin-right: 20%; margin-top: 250px; text-align: center; border: solid; border-color: blue; color: white; font-size: 20px">
<p>The username you entered is already registered.</p>Please click below to register a new name or log into another account.

</div>
<form name="errorform1" id="error-form1" class="login-form" action="/errorform" method="post">

	
   <div style="margin: 0 auto; margin-top: 50px; width: 130px; position: relative; left: -45px;">
   <input type="submit" name="submit" value="Return to Login Page" class="button" style="padding: 20px; border-radius: 20px; border-color: blue; background-color: blue; color: white; font-size: 20px;"/>

</form>
	



</body>
</html>




