<!DOCTYPE html>
<html style="height: 100%;">
<head style="height: 100%;">
	<title>ShapeUp Calorie Counter Login</title>

	<!--Style/Javascript links-->
	<link rel="stylesheet" href="../css/style.css" type="text/css"/>

</head>
<body style="height: 100%;">

<!--Top Bar-->
<div id="toploginbar">
Home News Careers What is Shapeup? Contact 
</div>

<!--Left Side-->
<div id="leftlogincolumn">
<img src="../images/logo.png">
<h2 id="motto">Caloire Tracking</h2>
<h2 id="motto">Made Easy.</h2>
<img src="../images/solutions-progress-tracking-icon.png">
</div>

<!--Right Side-->
<div id="rightlogincolumn">
Greetings
</div>




<!--Bottom Bar-->
<div id="bottomloginbar">
Copyright &copy 2013 ShapeUp. All rights reserved.
</div>

<body>
</html>
